.widget {
    width: 222px;
    gap: 10px;
}

.pill {
    height: 66px;
    border-radius: 6px;
    padding: 10.3px 13.89px 10.3px 11.91px;
    gap: 10px;
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.beige {
    color: var(--beige);
}

.light {
    color: var(--light);
}

.black {
    color: var(--black);
}

.logo, .text {
    gap: 2px;
}

.action {
    font-size: 12.41px;
    font-weight: 400;
    line-height: 15.07px;
}

.amount {
    font-size: 17.86px;
    font-weight: 700;
    line-height: 21.71px;
}

.smaller {
    font-size: smaller;
}

.tooltip {
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    background-color: var(--white);
    text-align: center;
    color: var(--black);
    border-radius: 6px;
    position: absolute;
    z-index: 1;

    transition: all 200ms ease-in-out;
    transition-delay: 250ms;
    width: 248px;
    height: 162px;
    padding: 24px 16px 24px 16px;
    box-shadow: 0 0 5px #00000059;
    gap: 10px;
    top: 200px;
}

.tooltip:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text:hover {
    visibility: visible;
    opacity: 1;
}

.tooltip-green {
    color: var(--green);
    font-size: 14px;
    font-weight: 700;
    line-height: 17.01px;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.colour-btns {
    gap: 4px;
}